header {
    background-color: #010101;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
}

header p {
    padding: 0 10px;
    font-size: 1.5rem;
    line-height: 0.5rem;
    color: white;
}

header div {
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

header button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 0.3rem 1.6em;
    border-radius: 15px;
    margin: 0 0.5rem;
}

header button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

header a, header a:link, header a:visited, header a:active {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
